html{overflow-y:scroll}
body{background:#fff;font:12px/1.5 \5FAE\8F6F\96C5\9ED1,tahoma,\5B8B\4F53;text-align:left; color:#333;}
body,p,dl,dt,dd,table,td,th,input,img,form,div,span,ul,ol,li,h1,h2,h3,h4,h5,h6,select,input,sub,sup{margin:0;padding:0}
button, input, select, textarea{font-family:tahoma,\5B8B\4F53}
table{border-collapse:collapse; border-spacing:0}
h1,h2,h3,h4,h5,h6 {font-size:100%}
iframe,img{border:0 none}
img{vertical-align:middle}
em,i{font-style:normal}
ul,li,ol{list-style:none outside none}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;font-size:0}
.clearfix{*zoom:1}
a{color:#333;text-decoration:none;}
a:hover{color:#2a90db;text-decoration:none;}
:focus{outline:0}
.clear{clear:both;overflow:hidden;font-size:0;height:0;line-height:0}

textarea{resize:none; background-color:#fff}
select{font-size:12px}
em,b,i,strong,cite,sub,sup{font-style:normal}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.cBlue{color:#3fa0ee;}
a.cBlue:hover{color:#f60;}
.cGray{color:#666;}
.cGreen{color:#339900;}
.fbold{font-weight:700}
.fleft,.mark{float:left}
.fright,.subMark{float:right}
.cl_l{clear: left;}
.pt5{padding-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt100{margin-top: 100px;}
.mr20{margin-right: 20px;}
.ml10{margin-left: 10px;}
.ml80{margin-left: 80px;}
.ml200{margin-left: 200px;}
.rela{position: relative;}

.header .searchbar .btn,.ico,.pager a,.btn-a,.btn-b,.backtop,.ico_jb,.btn_prev,.btn_next{background-image: url(https://soft1.wxqlzkj.cn/assets/images/spr.png); background-repeat: no-repeat;}
.ico,.ico_arrow1,.pager a,.pager span,.btn-a,.btn-b,.star,.star i,.desc,.i_arrow,.btn_prev,.btn_next{display:inline-block;vertical-align: middle;*display:inline;zoom: 1;}
body{background: url(https://soft1.wxqlzkj.cn/assets/images/body.jpg) repeat-x 0 0;}
.wrapper{background: url(https://soft1.wxqlzkj.cn/assets/images/wrapper.jpg) no-repeat center top;min-width: 990px;text-align: center;}
.header{height: 80px;}
.header .inner,.main{width: 990px;margin: 0 auto;}
.main{margin-top: 13px;_position: relative;min-height: 700px;_height: 700px;padding-bottom: 60px;text-align: left;}
.header .logo{float: left;margin-top: 15px;font-size:20px;}
.header .searchbar{float: right;margin-top: 20px;margin-left: 100px;}
.header .searchbar .ipt{width: 347px;height: 38px;padding: 10px;box-sizing: border-box;color:#999;font-size: 14px;float: left;background-color: #FFF;border: 1px solid #dbdcdf;border-right: 0 none;}
.header .searchbar .ipt_focus{color:#333}
.header .searchbar .btn{width: 70px;height: 38px;line-height: 38px;color:#fff;font-size: 14px;font-weight: bold;float: left;background-position: 0 0;border: 0 none;cursor: pointer;}
/*
.header .searchbar .ipt{width: 347px;height: 40px;padding:0 10px;color:#999;font-size: 14px;float: left;background-color: #FFF;border: 1px solid #dbdcdf;border-right: 0 none;}
.header .searchbar .ipt_focus{color:#333}
.header .searchbar .btn{width: 70px;height: 40px;line-height: 40px;color:#fff;font-size: 14px;font-weight: bold;float: left;background-position: 0 0;border: 0 none;cursor: pointer;}
*/
.header .searchbar .btn:hover{background-position: -110px 0;}
.header .inner .safe_link{float: right;margin-top: 30px;}


.sidebar{width: 138px;padding-bottom: 20px;border: 1px solid #e0e5ef;position: absolute;left: 50%;top: 93px;margin-left: -495px;_left: 0;_top: 0;_margin-left: 0;z-index: 99;background-color: #f1f4f7;border-radius: 2px 2px 0 0;font:14px/18px \5FAE\8F6F\96C5\9ED1;}
.sidebar .dt{padding: 10px 1px 9px;font-weight: bold;display:block;}
.sidebar a{display:block;zoom: 1;text-decoration: none;}
.sidebar a:hover,.sidebar a.current{background-color: #3fa0ee;color:#fff;}
.sidebar a.dt{border-bottom: 1px solid #e0e5ef;}
.sidebar a.dt:hover{border: 1px solid #2085d1;padding: 9px 0;}
.sidebar > .dt{border-radius: 2px 2px 0 0;}
.sidebar dd a{padding: 5px 0;}
.sidebar .ico{width: 14px;margin: 0 6px 0 20px;cursor: pointer;}
.ico_tj{height: 17px;background-position: -260px -114px;}
a:hover .ico_tj,.current .ico_tj{background-position: -280px -114px;}
.ico_soft{height: 11px;background-position: -280px -134px;}
a:hover .ico_soft,.current .ico_soft{background-position: -260px -134px;}
.ico_arrow1{width: 0;height: 0;border-width: 4px;border-style: dashed dashed dashed solid;border-color: transparent transparent transparent #ccc;margin: 0 5px 0 26px;cursor: pointer;margin-top: -3px;overflow: hidden;}
a:hover .ico_arrow1,.current .ico_arrow1{border-left-color: #fff;}

.cont{margin-left: 150px;}
.footer{border-top: 1px solid #f1f1f1;background-color: #f5f5f5;text-align: center;line-height: 30px;}
.footer,.footer a{color:#666;text-decoration: none;}

.backtop{width: 45px;height: 45px;background-position: -220px 0;cursor: pointer;position: fixed;left: 50%;margin-left: 535px;bottom: 110px;z-index: 99;border: 1px solid #e5e5e5;_position: absolute;_bottom: auto;_top: expression(eval(documentElement.scrollTop+document.documentElement.offsetHeight-110)+"px");display:none;}
a.backtop:hover{background-position: -275px 0;}

.pager{text-align: center;font-size: 0;}
.pager a{width: 24px;height: 24px;font:12px/24px arial;margin: 0 5px;text-decoration: none;background-position: 0 -145px;text-align: center;}
.pager span{line-height: 24px;padding: 0 3px;font-size: 12px;}
.pager a:hover,.pager a.current{background-position: -40px -145px;color:#fff;}

.btn-a{width: 52px;height: 25px;line-height: 25px;text-align: center;color:#fff;font-size: 12px;background-position: 0 -45px;text-decoration: none;}
a.btn-a:hover{background-position: -110px -45px;text-decoration: none;color:#fff;}
.btn-b{width: 100px;height: 35px;line-height: 35px;text-align: center;color:#fff;font-size: 14px;background-position: 0 -75px;text-decoration: none;}
a.btn-b:hover{background-position: -110px -75px;text-decoration: none;color:#fff;}

.star,.star i{overflow:hidden;}
.star{background-position: 0 0;background-repeat: repeat-x;}
.star i{vertical-align: top;}
.star_red i{background-position: 0 -25px;}
.star_org i{background-position: 0 -75px;}
.star_green i{background-position: 0 -125px;}

.star_s,.star_s i{background-image: url(https://soft1.wxqlzkj.cn/assets/images/star_s.png);}
.star_s{width: 69px;height: 11px;}
.star_s i{height: 11px;}
.star_l,.star_l i{background-image: url(https://soft1.wxqlzkj.cn/assets/images/star_l.png);}
.star_l{width: 115px;height: 23px;}
.star_l i{height: 22px;}

.crumb{line-height: 22px;color:#666;padding-bottom: 5px;}
.crumb a{color:#3c96f2;}
.crumb a:hover{text-decoration: underline;}

.ico_jb{width: 17px;height: 75px;background-position: -220px -114px;position: absolute;left: 10px;top: -4px;font-size: 14px;color:#fff;padding: 5px;font-family:\5FAE\8F6F\96C5\9ED1;line-height: 16px;}

.btn_prev,.btn_next{width: 14px;height: 24px;cursor: pointer;overflow: hidden;}
.btn_prev{background-position: 0 -115px;}
.btn_next{background-position: -19px -115px;}
a.btn_prev:hover,a:hover .btn_prev{background-position: -41px -115px;}
a.btn_next:hover,a:hover .btn_next{background-position: -60px -115px;white-space:nowrap;}
.copyright{text-align: center;color: #ccc;font-size: 13px;line-height: 1.5;}
.copyright > * {margin-bottom: 1em;}
.copyright * {color: inherit;text-decoration: unset;}
.pager .pagination{ display: flex;align-items: center;justify-content: center;}
.pager a{
	min-width: 24px;
	width: auto;
	background: #fafbfc;
	border: 1px solid #dadbde;
	border-radius: 2px;
}
.pager a:hover{
	background: #2a90db;
	border-color: #00b7ee;
}
.copyright {
	background-color: #f5f5f5;
	color: #666;
	line-height: 30px;
}
.copyright > * {
	margin-bottom: 0;
}
