.focusA { width: 840px; height: 250px; overflow: hidden; position: relative; margin-bottom: 10px;}
.focusA ul{position: absolute;left: 0;top: 0;}
.focusA li{width: 840px;height: 250px;float: left;position: relative;overflow: hidden;}
.focusA .btn{position: absolute;right: 10px;bottom: 10px;z-index: 499;}
.focusA .btn span{width: 20px;height: 5px;overflow: hidden;background-color: #fff;float: left;display:inline;margin-left: 1px;cursor: pointer;}
.focusA .btn .on{background-color: #1ca1ff;}
.preNext{position: absolute;top: 93px;width: 30px;height: 60px;z-index: 499;cursor: pointer;background: url(https://soft1.wxqlzkj.cn/assets/images/focus_btn.png) 0 0 no-repeat;opacity:0.2;filter:alpha(opacity=20);}
a.preNext:hover{opacity:0.7;filter:alpha(opacity=70);}
.pre{background-position: 0 0;left: 14px;}
.next{background-position: right 0;right: 14px;}
.prev-btn{display: block;top: 110px;background: url(https://soft1.wxqlzkj.cn/assets/pic/arrows.png) no-repeat;font-size: 0;width: 30px;height: 30px;z-index: 10000;position: absolute;}
.next-btn{display: block;top: 110px;background: url(https://soft1.wxqlzkj.cn/assets/pic/arrows.png) no-repeat;font-size: 0;width: 30px;height: 30px;z-index: 10000;position: absolute;background-position: -30px 0;right:0;}

.focusA .dl_btn{position: absolute;right: 80px;bottom: 50px;z-index: 499;display:block;background: url(https://soft1.wxqlzkj.cn/assets/images/focus_dl.png) 0 0 no-repeat;cursor: pointer;width: 180px;height: 54px;}
.focusA a.dl_btn:hover{background-position: 0 -80px;}

.w590{width: 590px;}
.w240{width: 240px;}
.mod_a .th{line-height: 34px;height: 34px;border-bottom: 1px solid #e1e1e1;}
.mod_a .tb{width: 100%;overflow: hidden;}
.mod_a h2{width: 84px;padding-left: 14px;height: 34px;border-bottom: 2px solid #2c90dc;float: left;font-size: 14px;}

.imglist{overflow: hidden;zoom: 1;display:block;margin-left: auto;margin-right: auto;}
.imglist li{ width: 83px; height: 100px; margin: 0 4px;padding-top: 6px; text-align: center;overflow: hidden;text-overflow:ellipsis;float: left;display:inline;}
.imglist li.hover,.imglist li:hover{background-color: #f9fafc;}
.imglist li.hover .btn-a,.imglist li:hover .btn-a{display:block;color:#fff;}
.imglist li a{display:block;margin: 0 auto 3px;height: 70px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.imglist li a.btn-a{display:none}
.imglist li a.btn-a,
.imglist li a.btn-a:hover{color:#fff;}

.imglist li img{width: 48px;height: 48px;display:block;margin: 0 auto 1px;}

.imglist-col6{width: 546px;}

.ol_rankA{width: 100%;padding: 5px 0 10px;overflow: hidden;zoom: 1;}
.ol_rankA li{padding: 4px 10px 4px 0;overflow: hidden;zoom: 1;text-align: left;position: relative;}
.ol_rankA li.hover .score,.ol_rankA li:hover .score{display:none;}
.ol_rankA li.hover .btn-a,.ol_rankA li:hover .btn-a{display:inline-block;*display:inline;}
.ol_rankA li img{margin-right: 7px;}
.ol_rankA li .desc{width: 95px;overflow: hidden;}
.ol_rankA li .score{font-size: 14px;position: absolute;right: 10px;}
.ol_rankA li .score i{font-size: 24px;font-family: arial;color:#3c96f2;margin-right: 3px;font-weight: bold;}
.ol_rankA li .fright{color:#999;float: none;right: 10px;position: absolute;}
.ol_rankA li .btn-a{display:none;color:#fff;}
.ico_num{width: 16px;height: 16px;line-height: 16px;background-position: -172px -115px;text-align: center;color:#fff;margin: -3px 10px 0 0;font-size: 12px;}
.ol_rankA li.num1,.ol_rankA li.num2,.ol_rankA li.num3{padding-top: 10px;padding-bottom: 10px;padding-right: 0;}
.num1 .ico_num{background-position: -110px -115px;}
.num2 .ico_num{background-position: -130px -115px;}
.num3 .ico_num{background-position: -150px -115px;}
/*20180523  404页面css*/
.g-box-970{width:840px;height:auto;background:#fff;box-shadow:0 0 5px #ccc;margin:14px auto 0;display:block;overflow:hidden}
.m-img404{text-align:center;display:block;margin:0 auto 20px auto;width:auto;padding-top:20px}
h2{width:100%;height:33px;line-height:33px;font-size:30px;font-weight:normal;text-align:center}
.m-atz{text-align:center;padding:10px 0}
.m-atz a{width:auto;height:36px;line-height:36px;font-size:20px;font-weight:normal;color:#fff;text-align:center;background:#19b5fe;border-bottom:4px #119ada solid;padding:0 14px;margin:0 16px;display:inline-block;overflow:hidden}